.container {
  border-radius: 10px;
  margin: 0 1rem;
  width: 50%;

  &__editor {
    &--content {
      font-family: 'Fira Mono';
      font-size: 14px;
      padding: 2rem;
    }
  }

  &__previewer {
    &--content {
      border: 1px solid;
      font-family: 'Fira Sans';
      padding: 0 2rem;
    }
  }

  &__content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    * {
      margin-top: 3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba(0, 0, 0, 0.9);
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    h3 {
      font-size: 1.17em;
    }

    h4 {
      font-size: 1em;
    }

    h5 {
      font-size: 0.83em;
    }

    h6 {
      font-size: 0.67em;
    }

    ol,
    ul {
      padding-left: 2rem;
    }

    li {
      margin-top: 0.5rem;
    }

    code {
      font-family: 'Fira Mono';
      font-size: 1.4rem;
    }

    table {
      border: 1px solid black;
      border-collapse: collapse;
      border-spacing: 1rem;
    }

    tr,
    th,
    td {
      border: 1px solid black;
      border-top: 1px solid black;
      padding: 0.5rem;
    }

    blockquote {
      background: #b9b9b9;
      border-left: 10px solid #000;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }

    blockquote p {
      display: inline;
    }
  }
}
