@import '~fontsource-fira-sans/index.css';
@import '~fontsource-fira-mono/index.css';
@import './app';
@import './title';
@import './container';

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans';
  font-size: 16px;
}
